<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="screenerWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <screenerWpf.Properties.Settings>
            <setting name="RecordsSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotsSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshorsLibrary" serializeAs="String">
                <value />
            </setting>
        </screenerWpf.Properties.Settings>
    </userSettings>
</configuration>